h2{
    color:aquamarine;
    text-align: center;
}
div{
    color: tomato;
    text-align: center;
    font-size:30px;
  }
p{
    text-align:center;
  }
.text{
    text-align:center;
    color:grey;
    font-size: 20px;
}
